apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: sentrydeployments.sentry.io
spec:
  group: sentry.io
  names:
    kind: SentryDeployment
    listKind: SentryDeploymentList
    plural: sentrydeployments
    singular: sentrydeployment
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          status:
            properties:
              status:
                type: string
              message:
                nullable: true
                type: string
              lastVersion:
                nullable: true
                type: string
            type: object
          spec:
            properties:
              version:
                description: The version of sentry to use; defaults to 23.6.1. Make sure to either use a version tag or 'nightly'
                nullable: true
                type: string
              dockerComposeUrl:
                description: The URL of the docker-compose.yml file; if specified we will use the version for the images but the docker-compose for the container architecture
                nullable: true
                type: string
              dockerComposeOverrides:
                description: Custom YAML that will be merged into the docker-compose.yml file; this is useful for overriding the default configuration
                nullable: true
                type: string
              config:
                description: The config for the Sentry deployment
                nullable: true
                properties:
                  eventRetentionDays:
                    description: The amount of days to keep events for
                    format: int32
                    type: integer
                  bind:
                    description: You can either use a port number or an IP:PORT combo for SENTRY_BIND
                    type: string
                  registry:
                    description: The registry to use for images; defaults to docker.io
                    nullable: true
                    type: string
                  image:
                    description: The image to use for Sentry
                    nullable: true
                    type: string
                  snubaImage:
                    description: The image to use for Snuba
                    nullable: true
                    type: string
                  relayImage:
                    description: The image to use for Relay
                    nullable: true
                    type: string
                  uptimeImage:
                    description: The image to use for Uptime
                    nullable: true
                    type: string
                  taskbrokerImage:
                    description: The image to use for Taskbroker
                    nullable: true
                    type: string
                  symbolicatorImage:
                    description: The image to use for Symbolicator
                    nullable: true
                    type: string
                  vroomImage:
                    description: The image to use for Vroom
                    nullable: true
                    type: string
                  wal2JsonVersion:
                    description: The version of Wal2Json to use
                    type: string
                  healthCheckStartPeriod:
                    description: How much to delay starting health checks
                    type: string
                  healthCheckInterval:
                    description: The interval to use for health checks
                    type: string
                  healthCheckTimeout:
                    description: The timeout to use for health checks
                    type: string
                  healthCheckRetries:
                    description: The amount of retries to use for health checks
                    type: string
                  healthCheckFileStartPeriod:
                    description: How much to delay starting health checks
                    type: string
                  healthCheckFileInterval:
                    description: The interval to use for health checks
                    type: string
                  healthCheckFileTimeout:
                    description: The timeout to use for health checks
                    type: string
                  healthCheckFileRetries:
                    description: The amount of retries to use for health checks
                    type: string
                  postgres:
                    description: The config for the Postgres database
                    nullable: true
                    properties:
                      engine:
                        nullable: true
                        type: string
                      name:
                        nullable: true
                        type: string
                      user:
                        nullable: true
                        type: string
                      password:
                        nullable: true
                        type: string
                      host:
                        nullable: true
                        type: string
                      port:
                        nullable: true
                        type: string
                    type: object
                  redis:
                    description: The config for redis
                    items:
                      properties:
                        host:
                          nullable: true
                          type: string
                        password:
                          nullable: true
                          type: string
                        port:
                          nullable: true
                          type: string
                        database:
                          nullable: true
                          type: string
                      type: object
                    nullable: true
                    type: array
                  additionalFeatureFlags:
                    description: Additional feature flags to enable
                    items:
                      type: string
                    nullable: true
                    type: array
                  additionalPythonPackages:
                    description: Additional Python packages to install
                    items:
                      type: string
                    nullable: true
                    type: array
                  mail:
                    description: The config for mail
                    nullable: true
                    properties:
                      host:
                        type: string
                      port:
                        format: int32
                        type: integer
                      username:
                        type: string
                      password:
                        type: string
                      useTLS:
                        type: boolean
                      useSSL:
                        type: boolean
                      from:
                        nullable: true
                        type: string
                      mailgunApiKey:
                        nullable: true
                        type: string
                    type: object
                  statsdAddress:
                    description: The address to use for statsd
                    type: string
                type: object
              replicas:
                additionalProperties:
                  format: int32
                  type: integer
                description: Override each container's number of replicas here by name
                nullable: true
                type: object
              environment:
                additionalProperties:
                  type: string
                description: Override environmental variables here; this is applied to all containers with matching env vars
                nullable: true
                type: object
              resources:
                additionalProperties:
                  properties:
                    limits:
                      nullable: true
                      properties:
                        cpu:
                          nullable: true
                          type: string
                        memory:
                          nullable: true
                          type: string
                      type: object
                    requests:
                      nullable: true
                      properties:
                        cpu:
                          nullable: true
                          type: string
                        memory:
                          nullable: true
                          type: string
                      type: object
                  type: object
                description: Override the default resource limits
                nullable: true
                type: object
              certificate:
                nullable: true
                properties:
                  install:
                    nullable: true
                    type: boolean
                  certificateCRDName:
                    description: Override the name of the Certificate CRD generated
                    nullable: true
                    type: string
                  issuerName:
                    description: Override the name of the issuer
                    nullable: true
                    type: string
                  issuerKind:
                    description: Override the kind of the issuer
                    type: string
                  secretName:
                    description: Override the name of the certificate secret
                    nullable: true
                    type: string
                  customHosts:
                    description: Add additional hosts to the certificate
                    items:
                      type: string
                    type: array
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}