apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validators
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJsakNDQVR5Z0F3SUJBZ0lKQU1wVEp5Um1UQ0pMTUFvR0NDcUdTTTQ5QkFNRU1ENHhFekFSQmdOVkJBY1QKQ2t0MVltVnlibVYwWlhNeEREQUtCZ05WQkFZVEEwUkZWakVaTUJjR0ExVUVBeE1RVDNCbGNtRjBiM0lnVW05dgpkQ0JEUVRBZUZ3MHlOVEV5TURFd01EQXdNREJhRncwek1ERXlNREV3TURBd01EQmFNRDR4RXpBUkJnTlZCQWNUCkNrdDFZbVZ5Ym1WMFpYTXhEREFLQmdOVkJBWVRBMFJGVmpFWk1CY0dBMVVFQXhNUVQzQmxjbUYwYjNJZ1VtOXYKZENCRFFUQlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJNL0ZlSks4S00yOVNDeTJLVVFCYWZlUgpybzNrQ25Sejc3VWd0V2R2T1QrVFBkdTZITFJVZ0NoZ09hKzUrTEJyRWdIR0hnT1RQbTJzOCtXSUwyS09hWldqCkl6QWhNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdEZ1lEVlIwUEFRSC9CQVFEQWdFbU1Bb0dDQ3FHU000OUJBTUUKQTBnQU1FVUNJUUNQM0o4UGN1aTREcHhqSzRCSGNIQVk2ODdGdXM1b0pEVThLYldnQzAyNmtBSWdhcEIvMHlDRwpFbVBQckJMTjByT3MzYU9nT2FYcUhwanQ0SVdleTU3QytMcz0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQ==
    service:
      name: operator
      path: /validate/sentrydeployment
  matchPolicy: Exact
  name: validate.sentrydeployment.sentry.io.v1
  rules:
  - apiGroups:
    - sentry.io
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - sentrydeployments
  sideEffects: None